@font-face {
    font-family: 'Amatic';
    src: url('fonts/AmaticSC-Regular.ttf');
}

body {
    background-color: black;
    margin: 0;
    padding: 0;
}

html, body {
    margin: 0;
    height: 100%;
}

.container {
    height: 100%;
    display:grid; 
    background-color: black;
    text-align: center;
    grid-template-rows: 1fr 5fr;
    justify-content: center;
}

h1 {
    font-family: 'Amatic';
    color: white;
    font-size: 6em;
}

#boardPic {
    max-width: 100%;
    height: auto;
    z-index: -1;
}

.gamebody {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: stretch;
}

.result {
    display: flex;
    align-items: center;
    justify-content: center;
}

.board {
    height: 710px;
    width: 710px;
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    background-image: url("images/board.png");
    gap: 4px;
    padding: 0;
    margin: 0;
}

.board_slot {
    height: 234px;
    width: 234px;
    margin: 0;
    padding: 0;
    background-color: black;
    border:none;
    color: white;
    font-family: 'Lato', sans-serif;
    font-size: 200px;
}

.again {
    display: flex;
    align-items: center;
    justify-content: center;
}